@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    #header {
        padding: 10px 0;
    }

    #header .container {
        justify-content: space-between;
    }

    .main_menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .is-closed {
        display: block;
    }

    .logo-site img {
        max-width: 140px;
    }

    .mmenu .main_menu {
        display: block;
    }

    .main_menu > li {
        margin-bottom: 20px;
    }

    .mmenu .main_menu > li .btn-site {
        width: 100%;
        height: 45px;
        text-align: center;
    }

    .section_home {
        padding: 50px 0;
    }

    .home_txt h1 {
        font-size: 45px;
        line-height: 1;
    }

    .thumb-hero {
        padding: 0;
    }

    .section_hint {
        padding: 40px 0;
    }

    .cont-hint {
        padding: 0;
    }

    .cont-hint p {
        font-size: 20px;
    }

    .section_why_us {
        padding: 30px 0;
    }

    .item-why-us {
        margin-bottom: 20px;
    }

    #subscriptions-slider .owl-nav button {
        left: -50px;
    }

    #subscriptions-slider .owl-nav button.owl-next {
        right: -50px;
    }

    .item-article {
        margin-bottom: 30px
    }

    .section_request {
        padding: 0;
    }

    .cont-request {
        padding: 20px;
    }

    .thumb-request figure {
        margin-bottom: 30px;
    }

    .thumb-request figure img {
        max-width: 100%;
    }

    .txt-request {
        padding: 0;
    }

    .logo-ft {
        text-align: center;
    }

    .menu-ft ul,
    .list-contact {
        justify-content: center;
    }

    .profile-container {
        width: 100%;
    }

    .profile-card {
        flex-wrap: wrap;
    }

    .info-account {
        width: 100%;
    }

    .info-profile {
        width: 100%;
    }

    .info-profile .d-flex {
        flex-wrap: wrap;
    }

    .info-profile .d-flex .form-group {
        width: 100%;
    }

    .item-course {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .thumb-course {
        width: 100%;
    }

    .thumb-course {
        width: 100%;
        flex-wrap: wrap;
    }

    .thumb-course figure {
        width: 100%;
        height: 220px;
    }

    .txt-course {
        width: 100%;
    }

    .course-actions {
        width: 100%;
        padding: 0;
    }

    .course-completed {
        width: 100%;
    }

    .course-completed {
        text-align: start;
    }

    .progress-circle {
        margin: 0
    }

    .tabs {
        width: auto;
        flex-wrap: wrap;
    }

    .upgrade-card {
        flex-wrap: wrap;
    }

    .includes-upgrade {
        width: 100%;
    }

    .package-upgrade {
        width: 100%;
    }

    .section_additional {
        position: relative;
        padding: 40px 0;
    }

    .additional-container {
        width: 100%;
    }

    .page_sty .sec_head,
    .sec_head {
        width: 100%;
    }

    .section_article_dtls {
        padding: 40px 0;
    }

    .dtl-article {
        padding: 0;
        padding-top: 30px;
        margin-top: 20px;
        border: 0;
        border-top: 1px solid #DEDEDE;
    }

    .item-teacher {
        margin-bottom: 20px
    }

    .cont-contact {
        width: 100%;
        margin: 30px 0 0;
    }

    .video-card {
        height: 250px;
    }

    .cont-dta-question {
        margin-top: 20px;
    }

    .review-wrapper {
        width: 100%;
    }

    .summary-review {
        flex-direction: column;
    }

    .summary-review .box-review {
        width: 100%;
    }

    .filters {
        flex-wrap: wrap;
    }

    .result-wrapper {
        width: 100%;
    }

    .dta-resulte {
        flex-wrap: wrap;
    }

    .dta-resulte > div {
        width: 100%;
    }

    .cont-sign {
        width: 100%;
        padding: 30px
    }

    .container-sign {
        flex-wrap: wrap;
    }

    .thumb-sign {
        width: 100%;
        padding: 20px;
    }
    
    .image-sign img {
        max-width: 240px;
    }
    
    .thumb-sign figure.logo-sign {
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 500px) {}